body {
    background-image: url(image/back_ground.png);
    margin: 0px;
    padding: 0px;
    font-style: italic;
    color: cornflowerblue;
}

.header {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: cornflowerblue;
    font-size: larger;
}

.container {
    height: 500px;
    display: flex;
    justify-content: end;

}

.weather-body {
    width: 350px;
    height: 425px;
    border: 6px solid #5677f7;
    border-radius: 20%;
    margin: 50px 75px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    display: flex;
    justify-content: center;
}

.temp {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.city {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    font-size: 24px;
    font-style: italic;
    color: cornflowerblue;
    font-weight: bold;
}

li {
    list-style-type: none;
}

.wind {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item {
    height: 350px;
}

.features {
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px -50px;
}

.city-name {
    border: 0;
    outline: 0;
    background: #8fd7edb8;;
    color: #555;
    padding: 10px 25px;
    height: 10px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    width: 140px;
}

.btn {
    display: block;
    border: 0;
    outline: 0;
    background: #8fd7edb8;;
    border-radius: 16px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    color: slategray;
    font-size: 16px;
}
.go{
    display: flex;
}